{% include 'head.html' %}
	<div id='main'>
		<div id='page'>
		
<ul>
{% for article in article_list %}
	<li>
		<div>
			<h2 class='title'>{{ article.title }}</h2>
			<h4>{{ article.timestamp }}</h4>
			<p>
			{% ifnotequal article_list|length 1 %}	<!--单个文章去除略写，和ReadMore-->
				{{ article.body | safe | truncatechars:222 }}<a href="javascript:void(0);" onclick="getPage('/{{ item }}/{{ article.title }}')">[ReadMore]</a><!--文章缩写-->
			{% else %}
				{{ article.body | safe }}
			{% endifnotequal %}
			</p>
		</div>
	</li>
{% endfor %}
</ul>
	
	
		</div>
	</div>

<div id='hidden' style='display:none;'></div>
</body>
