
<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<link rel='stylesheet' href='static/css/style.css' type='text/css'/>
<title>Tonky</title>
</head>
<body>
<div class="site-container">
	<nav>
		<div class="wrap">
			<ul class="index">
				<li><a href="{{ index }}">Home</a></li>
				<li><a href="{{ index }}/py">Py</a>
					<!--
					<ul class='sub-menu'>
						<li><a href='#'>Django</a></li>
						<li><a href='#'>Pygame</a></li>
						<li><a href='#'>PyQt</a></li>
						<li><a href='#'>Crawler</a></li>
					</ul>
					-->
				</li>
				<li><a href="{{ index }}/debug">Debug</a>
				<li><a href="{{ index }}/ideal&reality">Ideal & Reality</a></li>
				<li><a href='#'>Community</a>
					<ul class='sub-menu'>
						<li><a href='https://github.com/TonkyDeng'>GitHub</a></li>
						<li><a href='https://stackoverflow.com/users/8559547/tonky-deng'>StackOverflow</a></li>
						<li><a href='https://plus.google.com/u/0/106393222544893705456'>Google+</a></li>
						<li><a href='https://www.cnblogs.com/dearvee'>CnBlogs</a></li>
						<li><a href='http://blog.csdn.net/dearvee'>CSDN</a></li>
					</ul>
				</li>
				<!--
				<li><a href="{{ index }}/life">Life</a></li>
				-->
				<li><a href="static/about.html">About</a></li>
			</ul>
		</div>
	</nav>
	<header id="header" class="site-header">
		<div class="wrap">
			<div class="title-area">
				<h1 class="site-title"><a href="{{ index }}">Tonky(Dearvee)'s Blog !</a></h1>
				<h3 class="site-description"><span>山重水复疑无路，柳暗花明又一村。</span></h3>
			</div>
		</div>
	</header>
</body>
</html>
