{% include 'head.html' %}
	<div id='main'>
		<div id='page'>
			<div id='img' style='width:800px;margin:0 -120px'>
				<script src='/static/js/canvas.js'></script>
				<canvas id='canvas' style='margin:0px auto;transition:margin 0.6s;'></canvas>
				<script>
					var width = 800;
					//var width = document.body.clientWidth*3/7;
					canvas.setAttribute("width",width);
					canvas.setAttribute("height",width)
					MakeCoor([20,'#fff',50,'#fff',20,'#fff']);
				</script>
			</div>
		</div>
	</div>

<div id='hidden' style='display:none;'></div>
</body>
