<head>
<meta charset="UTF-8">
<link rel='stylesheet' href='/static/css/style.css' type='text/css'/>
<link rel='stylesheet' href='/static/css/article.css' type='text/css'/>
<link rel='stylesheet' href='/static/css/log.css' type='text/css'/>
<script src="/static/js/ajax.js"></script>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<title>A Freed Donkey .</title>
</head>
<div>
	<nav>
		<div class="wrap">
			<ul class="index">
				<li><a href="/">Home</a></li>|
				<li><a href="javascript:void(0);" onclick="getPage('/py')">Py</a></li>|
				<li><a href="javascript:void(0);" onclick="getPage('/debug')">Debug</a></li>|
				<li><a href="javascript:void(0);" onclick="getPage('/ideal&reality')">Ideal & Reality</a></li>|
				<li><a href='#'>Community</a>
					<ul class='sub-menu'>
						<li><a href='https://github.com/TonkyDeng'>GitHub</a></li>
						<li><a href='https://stackoverflow.com/users/8559547/tonky-deng'>StackOverflow</a></li>
						<li><a href='https://plus.google.com/u/0/106393222544893705456'>Google+</a></li>
						<li><a href='https://www.cnblogs.com/dearvee'>CnBlogs</a></li>
						<li><a href='http://blog.csdn.net/dearvee'>CSDN</a></li>
					</ul>
				</li>|
				<!--
				<li><a href="{{ index }}/life">Life</a></li>
				-->
				<li><a href="#">Life</a>
					<ul class='sub-menu'>
						<li><a href="javascript:void(0);" onclick="getPage('/essay');">Essay</a></li>
						<li><a href="javascript:void(0);" onclick="getPage('/static/syncmusic.html');">Song</a></li>
					</ul>
				</li>|
				<li><a href="javascript:void(0);" onclick="getPage('/static/about.html')">About</a></li>
			</ul>
		</div>
	</nav>
<a href='#' id='top'>Top</a>
</div>

<div id='main'>
	<div id='page'>
		<h1>404	我挂了~<h1>
	</div>
</div>

<div id='hidden' style='display:none;'></div>
